:root{
    --navbar-footer-bg-color: #30343F;
    --body-bg-color: #FAFAFF;
    --pink: #E4D9FF;
    --button-blue: #273469;
    --dark-blue: #1E2749;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: auto;
}
.upper-bar{
    display: flex;
    justify-content: space-between;
    padding: 12px;
    background-color: var(--navbar-footer-bg-color);
    color: var(--body-bg-color);
    border-bottom: 1px solid gray;
}
.content-bar{
    display: flex;
    justify-content: space-around;
    background-color: var(--navbar-footer-bg-color);
    color: var(--body-bg-color);
    border-bottom: 1px solid gray;
    padding: 25px 0;
}
.content-bar h2 {
    border-left: 5px solid gray;
    padding-left: 5px;
}
.lower-bar{
    text-align: center;
    padding: 12px 0;
    background-color: var(--navbar-footer-bg-color);
    color: gray;
}
.footer-list {
    list-style: none;
    margin: 10px 0 0 15px;
}
.footer-list a {
    text-decoration: none;
    color: var(--body-bg-color);
}
.footer-list a:hover {
    text-decoration: underline;
}