:root {
    --navbar-footer-bg-color: #30343F;
    --body-bg-color: #FAFAFF;
    --pink: #E4D9FF;
    --button-blue: #273469;
    --dark-blue: #1E2749;
    --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media only screen and (max-width: 1620px) {

    :is(.profileUsername, .profileName, .profileSurname, .profileEmail) {
        width: 60%;
    }
}

@media only screen and (max-width: 1400px) {

    :is(.profileUsername, .profileName, .profileSurname, .profileEmail) {
        width: 70%;
    }
}

@media only screen and (max-width: 1313px) {
    .profileImageDB {
        width: 25%;
    }

    .profileImageOpen {
        flex-direction: column;
    }
}

@media only screen and (max-width: 1280px) {
    .profileImageDB {
        width: 35%;
    }

    :is(.profileUsername, .profileName, .profileSurname, .profileEmail) {
        width: 90%;
    }
}

@media only screen and (max-width: 1150px) {
    .profileImageDB {
        width: 45%;
    }

    :is(.profileUsername, .profileName, .profileSurname, .profileEmail) {
        width: 100%;
    }
}

@media only screen and (max-width: 1120px) {
    .profileWrap {
        flex-direction: column;
    }

    .profileContent {
        width: 90%;
    }

    .profileUp {
        margin-right: 0px;
        margin-bottom: 3rem;
        width: 30%;
    }

    .profileUp {
        text-align: center;
    }

    :is(.profileUsername, .profileName, .profileSurname, .profileEmail) {
        width: 40%;
        display: block;
    }
}

@media only screen and (max-width: 876px) {
    .profileImageDB {
        width: 55%;
    }

    :is(.profileUsername, .profileName, .profileSurname, .profileEmail) {
        width: 100%;
        display: block;
    }

    .profileContainer {
        padding: 0px;
        margin-bottom: 1rem;
    }

    .profileWrap {
        padding: 0px;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

}

@media only screen and (max-width: 1024px) {
    .nav-tutorials .nav-dropdown {
        width: 180px;
    }
    .text-si {
        display: none;
    }
     .about-us .about-us-content{
        width: 100%;
    }
    
    .about-us-content  h1{
        font-size: 1.8rem;
    }
    
    .about-us-content p{
        font-size: .9rem;
    }

    .codeAbout p {
        width: 100%;
    }
     .about-us .about-us-content{
        width: 100%;
    }
    
    .about-us-content  h1{
        font-size: 1.8rem;
    }
    
    .about-us-content p{
        font-size: .9rem;
    }
    .home-tutorials .home-tutorial-card {
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;
        padding: 20px 10px;
        width: 90%;
     }
     .home-tutorial-card .home-tutorial-box {
        width: 100%;
     }
}

@media only screen and (max-width: 900px) {
    .page-container {
        display: block;
    }

    .page-sidebar {
        width: 100%;
    }

    .page-content {
        width: 100%;
    }

    .templateContainer {
        padding: 0px;
    }

    .templateContent {
        border-radius: 0px;
        padding: 1rem;
        height: auto;
    }

    .codeWrap {
        width: 100%;
        padding: 5px;
        height: auto;
    }

    .codeWrap h2 {
        text-align: center;
    }

    .codeWrap pre {
        margin-bottom: 1rem;
    }

    .codeArea {
        width: 98%;
        height: auto;
        border-radius: 30px;
    }

    .codeSection {
        width: 95%;
        height: auto;
    }

    .profileUp {
        width: 50%;
    }
}

@media only screen and (max-width: 768px) {
    nav .nav-content {
        position: absolute;
        justify-content: center;
        align-items: center;
        width: 300px;
        right: 0;
        top: 80px;
        bottom: 0;
        background-color: var(--navbar-footer-bg-color);
        flex-direction: column;
        padding: 20px 5px;
        /* right: -320px; */
        display: none;
        transition: .4s;
        z-index: 150;
    }

    nav .nav-content.open {
        /* right: 0; */
        display: block;
    }

    .nav-item {
        flex-direction: column;
    }

    .nav-item .nav-link {
        flex-direction: column;
        display: flex;
        text-align: left;
        width: 90%;
        margin: auto;
        border-radius: 10px;
        padding: 5px;
        text-align: center;
    }

    .nav-item .nav-user {
        flex-direction: column;
        display: flex;
        text-align: left;
        width: 90%;
        margin: auto;
        padding: 5px;
        text-align: center;
    }

    .nav-link a {
        margin: 18px 0px;
        font-size: 1.4rem;
    }

    .nav-user a {
        margin: 18px 0px;
        font-size: 1.4rem;
    }

    /* .nav-link a:hover,
    .nav-user a:hover{
        background: var(--button-blue);
        border-radius: 10px;
        transition: .2s;
    } */

    .nav-tutorials a {
        font-size: 1.4rem;
        margin: 8px 0px;
        text-align: left;
    }

    .nav-dropdown a {
        font-size: 1.1rem;
        text-align: center;
    }

    .resp-open {
        display: block;
    }

    .ns {
        display: block;
    }

    .text-si {
        display: none;
    }

    .sign {
        height: 100%;
        padding: 20px 0;
    }

    .tac-page {
        width: 95%;
        margin: 10px;
        padding: 12px;
    }
    .contact-us .contact-us-content{
        width: 90%;
        height: auto;
    }
    .contact-us-form .input-box{
        width: 100vh;
    }
    .contact-us-content textarea {
        width: 90%;
        height: 20vh;
    }
    .contact-us-content button{
        width: 150px;
        height: 40px;
    }
    .tutorials-main h1 {
        font-size: 2.5rem;
    }
    
    .home-tutorial-box p {
        font-size: 1rem;
    }
    .contact-us .contact-us-content{
        width: 90%;
        height: auto;
    }
    .contact-us-form .input-box{
        width: 100vh;
    }
    .contact-us-content textarea {
        width: 90%;
        height: 20vh;
    }
    .contact-us-content button{
        width: 150px;
        height: 40px;
    }
    .tutorials-main h1 {
        font-size: 2.5rem;
    }
    .home-tutorial-box h1 {
        font-size: 2.5rem;
    }
    
    .home-tutorial-box p {
        font-size: 1rem;
    }
    .home-tutorial-box a {
        font-size: 1rem;
    }
    
}
@media screen and (max-width:500px) {
  .content-bar {
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
  }

    .footer-list {
        margin: 10px 0 30px 0;
    }

  .content-bar h2 {
    border-bottom: 1px solid gray;
    margin: 0 auto;
    width: 150px;
    border-left: 0;
  }

  .inputs {
    width: fit-content;
  }

}

@media screen and (max-width:425px) {
    .sidebar {
        width: 100%;
        height: auto;
    }

    .page-container {
        flex-direction: column;
    }

    .page-sidebar {
        width: 100%;
    }

    .page-content {
        width: 100%;
    }

    .profileWrap {
        width: null;
    }

    :is(.profileUsername, .profileName, .profileSurname, .profileEmail) input {
        width: 100%;
    }

    .profileImageDB {
        width: 85%;
    }

    .inputs {
        padding: 2px;
    }

}