:root{
    --navbar-footer-bg-color: #30343F;
    --body-bg-color: #FAFAFF;
    --pink: #E4D9FF;
    --button-blue: #273469;
    --dark-blue: #1E2749;
    --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


@media only screen and (max-width: 1024px){
    .nav-tutorials .nav-dropdown{
        width: 180px;
    }
}

@media only screen and (max-width: 768px){
    nav .nav-content{
        position: absolute;
        justify-content: center;
        align-items: center;
        width: 300px;
        right: 0;
        top: 80px;
        bottom: 0;
        background-color: var(--navbar-footer-bg-color);
        flex-direction: column;
        padding: 20px 5px;
        /* right: -320px; */
        display: none;
        transition: .4s;
    }

    nav .nav-content.open{
        /* right: 0; */
        display: block;
    }

    .nav-item{
        flex-direction: column;
    }
    .nav-item .nav-link{
        flex-direction: column;
        display: flex;
        text-align: left;
        width: 90%;
        margin: auto;
        border-radius: 10px;
        padding: 5px;
        text-align: center;
    }
    .nav-item .nav-user{
        flex-direction: column;
        display: flex;
        text-align: left;
        width: 90%;
        margin: auto;
        padding: 5px;
        text-align: center;
    }    

    .nav-link a{
        margin: 18px 0px;
        font-size: 1.4rem;
    }
    
    .nav-user a{
       margin: 18px 0px;
       font-size: 1.4rem;
    }

    /* .nav-link a:hover,
    .nav-user a:hover{
        background: var(--button-blue);
        border-radius: 10px;
        transition: .2s;
    } */

    .nav-tutorials a{
        font-size: 1.4rem;
        margin: 8px 0px;
        text-align: left;
    }

    .nav-dropdown a{
        font-size: 1.1rem;
        text-align: center;
    }

    .resp-open{
        display: block;
    }
}